.tooltab{
    position:fixed; right:0; padding:7px 0 0 7px; margin:6px; border-radius:50px; width:36px; height:36px; box-sizing:border-box; display:none; z-index:5000;
    > a > svg{width:22px; height:22px;}
}
.editor > .fixed{ width:100%; height:0; z-index:5000; display:none;}
.editor{
    .toolbar{
        position:absolute; width:100%; height:50px; cursor:default;
        .container{ max-width:1920px; padding:0 10px; box-sizing:border-box; text-align:center; white-space:nowrap;}
        nav.menu{
            display:inline-block; white-space:nowrap; padding-top:12px;
            > a{display:inline-block; margin:0 10px;}
        }
        .dialog{
            display:none; max-width:1920px; padding:0 10px; box-sizing:border-box; text-align:center; white-space:nowrap; 
            > div{width:80%; margin:0 auto;}
        }
        a.logo{
            position:absolute;left:10px; top:7px;
            svg{width:100px; height:36px;}
        }
        .right-side{position:absolute; right:0;}
        .save-page{padding:3px 5px 0 0;}
        .btn-close{position:relative; top:-2px;}
    }

    > .temp{
        position:absolute; z-index:3000; 
        .cellbox{position:absolute; outline-style:dashed; outline-width:10px; outline-offset:-10px; box-sizing:border-box;}
        .compline{position:absolute; border-left-style:dashed; border-left-width:2px;}
        .layout-area{
            position:absolute; box-sizing:border-box; padding:5px;
            .content{width:100%; box-sizing:border-box; height:100%;}
            .options{display:none; width:100%; text-align:center;}
            .area-label{
                width:100%; text-align:center;
            }
        }
        .layout-area:hover{
            .options{display:block;}
            .area-label{display:none;}
        }
    }
    > .clone{
        position:absolute; z-index:5001;
    }
    
    .windows{width:0; height:0;} 
    .window{
        position:absolute;
        .titlebar{
            cursor:move;
            .title{top:-5px;}
            .close{cursor:default;}
        }
        .box > .arrow.top{ position:absolute; top:-25px; width: 0; height: 0; border-style: solid; border-width: 0 25px 25px 25px; }
        .box > .arrow.bottom{ position:absolute; width: 0; height: 0; border-style: solid; border-width: 25px 25px 0 25px; }
    }

    #winDashboard{
        .page-title{width:200px; cursor:default;}
    }

    > .component-hover{position:absolute; display:none; border:2px dashed transparent; cursor:move; z-index:3000;}

    > .component-select{
        cursor:move; position:absolute; display:none; z-index:3000;
        .side, .corner{position:absolute;}
        .r-top, .r-bottom{cursor:ns-resize;}
        .r-left, .r-right{cursor:ew-resize;}
        .r-left-top, .r-top-left, .r-right-bottom, .r-bottom-right{cursor:nwse-resize;}
        .r-top-right, .r-right-top, .r-bottom-left, .r-left-bottom{cursor:nesw-resize;}
        &.isalsocell .resize{cursor:default;}
        &.isalsopanel{
            .resize.top, .r-bottom{cursor:ns-resize;}
            .r-left, .r-right{cursor:ew-resize;}
            .r-left-top, resize.top-left, .r-right-bottom, .r-bottom-right{cursor:nwse-resize;}
            .r-top-right, .r-right-top, .r-bottom-left, .r-left-bottom{cursor:nesw-resize;}
        } 
        @bar:4px;
        .r-top, .r-top-right, .r-top-left, .r-bottom, .r-bottom-right, .r-bottom-left{height:@bar;}
        .r-left, .r-left-top, .r-left-bottom, .r-right, .r-right-top, .r-right-bottom{width:@bar;}
    }
}

.show-empty-cells {
    .webpage {
        .is-cell{min-height:50px; outline-style:dashed; outline-width:4px; outline-offset:-2px;}
    }
}
.show-blocks {
    .webpage {
        .is-block{min-height:115px; outline-style:dashed; outline-width:4px; outline-offset:-2px;}
        .is-panel.has-siblings{height:auto; min-height:120px;}
    }
}

@media(max-width:1920px){
    .editor{
        .toolbar{
            > .container{ width:100%; }
        }
    }
}