@import "tapestry/tapestry.less";

html{display:flex; min-height:100%;}
body{display:flex; width:100%;}
.body{position:relative; width:100%;}
.webpage{position:relative; margin:0px auto;}
.webpage .component{position:relative; vertical-align:top; box-sizing:border-box;}
.webpage .panel{width:100%;}
.webpage .cell{position:relative; width:100%; text-align:center;}
.svgicons{display:none;}