<div class="login">
    <form>
        <div class="row message hide"><span></span></div>
        <div class="row">
            <div class="col field-label">Email</div>
            <div class="col field-input">{{field-email}}</div>
        </div>
        <div class="row">
            <div class="col field-label">Password</div>
            <div class="col field-input">{{field-pass}}</div>
        </div>
        <div class="row">
            <div class="col right buttons">{{button-login}}</div>
        </div>
        <button type="submit" class="hide"></button>
    </form>
</div>