<div class="login">
    <form name="login" method="post">
        <div class="row message hide"><span></span></div>
        <div class="row">
            <div class="col field">Email</div>
            <div class="col input">{{field-email}}</div>
        </div>
        <div class="row">
            <div class="col field">Password</div>
            <div class="col input">{{field-pass}}</div>
        </div>
        <div class="row">
            <div class="col right buttons">{{button-login}}</div>
        </div>
        <input type="submit" class="hide-submit"/>
    </form>
</div>