<div class="login">
    <div class="row">
        <div class="col title pad-bottom">{{title}}</div>
    </div>
    <div class="row hidden message"></div>
    <div class="row">
        <div class="col field-label long">New Password</div>
        <div class="col field-input">{{field-pass}}</div>
    </div>
    <div class="row">
        <div class="col field-label long">Confirm Password</div>
        <div class="col field-input">{{field-pass2}}</div>
    </div>
    <div class="row">
        <div class="col right buttons">{{button-save}}</div>
    </div>
</div>