<style type="text/css">
    #props_menuitem_design, .menuitem-design{height:300px;}
</style>

<div class="tab-content index-1">
    <div class="row">
        <ul class="menu">{{menu-items}}</ul>
    </div>

    <div class="row pad">
        <div class="col btn-menuitem-create pad-right">
            <a class="button circle" href="javascript:" onclick="S.componentProperties.get('menu').add()" title="Create a new menu item">
                <svg viewBox="0 0 25 25" class="medium">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus" x="0" y="0" width="25" height="25"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="tab-content index-2 hide">
    <div class="row field">Menu Item HTML Design</div>
    <div class="row input menuitem-design">
        <textarea class="code" id="props_menuitem_design">{{menu-item-design}}</textarea>
    </div>
</div>