/* fonts */
@import (css) url(https://fonts.googleapis.com/css?family=Jaldi:400,700);
@import "../../tapestry/less/theme.less"; 

/* base colors */
@bg:#222;
@color:#eee;
@color-hover:#a4e7dd;
@link:#00acae;
@link-hover:#03d6d9;
@row-alt:4%;

body{font-family: Jaldi;}

.tooltab{
    .box(@bg, transparent, @color); 
    .links(@link, @link-hover, @link-hover, @link);
    .icons(@color, @color-hover, @color-hover, @color);
}


.editor .box{
    .box(@bg, transparent, @color);
    .links(@link, @link-hover, @link-hover, @link);
    .icons(@color, @color-hover, @color-hover, @color);
    .row(transparent, #223235, #173b42, @color, @color-hover, @color, @link, @link-hover, @link-hover, @link, @link, @color, @color-hover, @color-hover, @color);
    .row-alt(darken(@bg, @row-alt), darken(#223235, @row-alt), darken(#173b42, @row-alt), @color, @color-hover, @color, @link, @link-hover, @link-hover, @link, @link, @color, @color-hover, @color-hover, @color);
    .fonts(@color, fade(@color, 30%), #009B87, #4DA400, #FF2222, #376EB2);
    .col(#fff, #444, #cccccc, #aaa, #eef7f7, #444, #d2e4e4, #d7eded, #114b4b, #b1dcdc, #114b4b );
    .line(lighten(@bg, 3%));
    .button(default,  #56bf94, #1bcd84, #1bcd84, #1bcd84, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(apply,    #4dc2c7, #16ced6, #16ced6, #16ced6, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(special,  #9b56ab, #9938b0, #9938b0, #a70acd, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(cancel,   #7dd0ae, #4bcc97, #4bcc97, #4bcc97, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(disabled, #a9d7ec, #a9d7ec, #a9d7ec, #a9d7ec, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(circle,  #1c8f60, #00ac65, #11b874, #11b874, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .message(default, #8ccaef, transparent, #0066ff);
    .message(error,   #dc8a8a, transparent, #b30b0b);
    .message(alert,   #dbdb86, transparent, #d79c0c); 
    .message(confirm, #92e061, transparent, #228f4b); 
    > .arrow.top{border-color: transparent transparent @bg transparent;}
    > .arrow.bottom{border-color: @bg transparent transparent transparent;}

    .sub-section{
        .box(#214345, transparent, @color);
        .row(transparent, #223235, #173b42, @color, @color-hover, @color, @link, @link-hover, @link-hover, @link, @link, @color, @color-hover, @color-hover, @color);
    }
}


.drag-component .webpage .is-cell{outline-color:#03d6d9;}
.editor{
    > .temp > .cellbox{outline-color:fade(#9700ff, 50%);}
    > .temp > .compline{border-left-color:#ff6a00;}
    > .component-hover{border-color:#ff6a00;}
    > .component-select{
        .resize.side{background-color:@bg;} 
        .resize.corner{background-color:@bg;}
    }
}