<div class="row text-toolbar for-component-select" style="display:none;">
    <div class="box">
        <div class="row edit-basic">
            <div class="col icon small icon-bold pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textbold" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-italic pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textitalic" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-strikethru pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textstrikethru" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-underline pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textunderline" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-bullet pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textbullet" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-numbers pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textnumbers" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-indent pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textindent" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-textleft pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textleft" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-textcenter pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textcenter" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-textright pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textright" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col right icon small icon-more pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textmore" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row edit-advanced" style="display:none;">
            <div class="col icon small icon-color pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textcolor" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-bgcolor pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textbgcolor" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col pad-left-sm">
                <select id="textedit_fontfamily">
                    {{font-family}}
                </select>
            </div>
            <div class="col pad-left-sm">
                <select id="textedit_fontsize">
                    {{font-size}}
                </select>
            </div>
            <div class="col icon small icon-link pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textlink" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-photo pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textphoto" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col icon small icon-source pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textsource" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col right icon small icon-less pad-sm">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-textmore" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>