.webpage{flex-direction:unset !important; -ms-flex-direction:unset !important;}
.dash-side{
    width:200px;
    flex-shrink:0;

    > .head{
        border-bottom-width:7px; border-bottom-style:solid;
        > span, > h5{display:inline-block; width:100%;} 
        .website-url{height:0px; position:relative; top:3px;
        }
    }
}
.dash-menu{margin-top:20px;}
 
.dash-body{
    flex-grow:1;
}